[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "QuantBondCurves"]
	path = QuantBondCurves
	url = https://github.com/cran/QuantBondCurves
